.v-md-editor{
  box-shadow: none!important;
  @apply border border-c-gray-400 border-solid;
}

.block-embed {
  iframe{
    @apply w-full h-60;
  }
}
.v-md-icon-iframe{
  &::before{
    background: url('/static/icons/iframe.svg') no-repeat bottom;
    @apply inline-block relative top-[1px] w-4 h-4 content-[''];
  }
}
.v-md-icon-images{
  &::before{
    background: url('/static/icons/images.svg') no-repeat bottom;
    @apply inline-block relative top-[1px] w-4 h-4 content-[''];
  }
}